@mixin center {
  display: flex;
  align-items: center;
}

@mixin space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin one {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: $green#17696A;
  border-radius: 4px;
  transition: .4s;

  &:hover {
    //background: ;
    border: 2px solid #02897A;
    transform: scale(1.1);
  }
}

@mixin around {
  display: flex;
  justify-content: space-around;

}

@mixin colum {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@mixin btn {
  font-weight: 700;
  font-size: 14px;
  color: #17696A;
  letter-spacing: 0.5px;
  padding: 15px 15px;
  transition: .4s;


  &:hover {
    border: 2px solid #02897A;
    transform: scale(1.1);
    border-radius: 4px;
  }
}

@mixin colum-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin evenly {
  display: flex;
  //align-items: center;
  justify-content: space-evenly;
}

@mixin h3 {
  color: black;
  font-weight: 700;
  font-size: 20px;
}
@mixin h5 {
  color: #787A80;
  font-weight: 400;
  font-size: 16px;
}

@mixin a {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
}

@mixin  h4 {
  font-weight: 400;
  font-size: 14px;
  color: #787A80;

}